
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/CSS/Home/Home.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpCELnoke_R78VXZ3rheay6iY8iZArpjQ"></script>
<div id="MountPoint">

</div>
<script type="text/javascript" src="~/scripts/js/vendor.bundle.js"></script>
@*<script type="text/javascript" src="~/scripts/js/app.bundle.js"></script>*@

<script type="text/javascript" src="~/scripts/js/Home.bundle.js"></script>