
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/CSS/User/Login.css" />

<div id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</div>
<div id="MountPoint">

</div>
<div id="LoginMountPoint">

</div>
<script type="text/javascript" src="~/scripts/js/vendor.bundle.js"></script>
<script type="text/javascript" src="~/scripts/js/UserLogin.bundle.js"></script>