
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/User/SignUp.css" />

<div id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</div>
<div id="NavigationBarMountPoint">

</div>
<div id="UserSignUpMountPoint">

</div>
<script type="text/javascript" src="~/scripts/js/vendor.bundle.js"></script>
<script type="text/javascript" src="~/scripts/js/UserSignUp.bundle.js"></script>