
@{
    ViewData["Title"] = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/CSS/SkiResorts/Explore.css" />

<div id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</div>

<div id="MountPoint">

</div>
<script type="text/javascript" src="~/scripts/js/vendor.bundle.js"></script>
<script type="text/javascript" src="~/scripts/js/SkiResortsExplore.bundle.js"></script>